.hero-card {
    margin: 10px;
    padding: 10px;
}

.hero-card img {
    border-radius: 15px;
    height: 150px;
}

.hero-name {
    font-weight: bold;
}

.hero-superpowers {
    font-weight: normal;
}


.hero-info {
    font-size: smaller;
}

